<div class="row">
  <div class="col-md-4">
    <h1>List of Authors</h1>
  </div>
  <div class="col-md-2 offset-md-6 text-right my-auto">
    <%= link_to '<button class="btn btn-success">
            Create
        </button>'.html_safe, "/authors/new" %>
  </div>
</div>
<table id="books_table" class="table table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @publishers.each do |publisher| %>
    <tr>
      <td><%= link_to(publisher.name, publisher) %></td>
      <td><%= link_to 'Delete',
                      publisher_path(publisher),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
